<div class="modal-body" id="modal-body">
    <div class="container">
        <form class="form-inline">
            <h2 class="form-signin-heading">Enter your name</h2>
            <label for="inputName">Name</label>
            <input ng-model="$ctrl.user.name" type="text" id="inputName" class="form-control" placeholder="Name"
                   required autofocus>
            <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">OK</button>
        </form>
    </div> <!-- /container -->
</div>
