.code-task
  #editor, #console
    position: relative
    width: 50%
    height: 400px
    font-size: 26px
  #editor
    float: left
  .ace_editor
    font-size: 26px

  .ace_fold-widget.ace_start.ace_open
    display: none