<div class="task-wrapper">
    <div ng-if="$ctrl.slideStructure.task.type == 'code'" class="task-content code-task">
        <div ng-show="!$ctrl.slideStructure.task.answer">
            <h2>{{$ctrl.slideStructure.task.questions}}</h2>
            <textarea id="editor" ng-model="$ctrl.codeToExecute"></textarea>
            <textarea id="console" ng-model="$ctrl.consoleOutput"></textarea>
            <button ng-click="$ctrl.executeCode()" type="button"
                    class="btn btn-danger">Ausführen</button>
            <button ng-click="$ctrl.sendCodeAnswer()" type="button"
                    class="btn btn-primary">Lösung abgeben</button>
        </div>
        <div ng-show="$ctrl.slideStructure.task.answer" class="task-result">
            <pre ng-if="$ctrl.slideStructure.task.type == 'code'"
                 ng-repeat="answer in $ctrl.slideStructure.task.allAnswers">
                <code data-trim data-noescape>
                    {{answer.answer}}
                </code>
            </pre>
        </div>
    </div>
    <div ng-if="$ctrl.slideStructure.task.type == 'poll'" class="task-content poll-task">
        <h2>{{$ctrl.slideStructure.task.questions}}</h2>
        <div ng-show="!$ctrl.slideStructure.task.answer">
            <div class="poll-buttons">
                <button ng-repeat="possibleAnswer in $ctrl.slideStructure.task.poll.possibleAnswers"
                        ng-click="$ctrl.sendPollAnswer(possibleAnswer, $ctrl.slideStructure)"
                        type="button"
                        class="btn btn-primary">
                            {{possibleAnswer.title}}
                </button>
            </div>
        </div>
        <div ng-show="$ctrl.slideStructure.task.answer" class="task-result">
            <canvas id="myChart" width="400" height="400"></canvas>
        </div>
    </div>
</div>